
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

body{
    margin: 0;
}

section {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}


#main_div{
    display: flex;
    max-width: 600px;
    margin: auto;
    justify-content: space-around;
}

img{
    max-width: 250px;
}

#main_logo{
    margin-right: auto;
    display: flex;
    align-items: center;
}

/* ALL THE FUNCTIONS AND BUTTONS */

#functions{
    margin-right: 5%;
    margin-bottom: 10px;
}

button{
    margin: 30px;
}

#generate_btn{
    background-color:#999999;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-top: 15px;
    border: 2px solid #919191;
    border-radius: 5px;
}

#generate_btn:hover{
    color: rgb(66, 66, 66);
    background-color: #e2e2e2;
    border-color: #dddddd;
}

.squares_fill{
    width: 30px;
    height: 30px;
    border: none;
    
    border-radius: 2px;
    margin-bottom: 30px;
    margin-top: 20px;
    opacity: 30%;
}

#gray_squares{
    background-color: gray;
    transition: 0.3s;
}

#gray_squares:hover{
    background-color: rgb(63, 63, 63);
}

#color_squares{
    background-color: #98FA46;
    transition: 0.3s;
}

#color_squares:hover{
    background-color: rgb(92, 152, 175);
}


h1, h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h2{
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 15px;
}

/* THE CANVAS */

#etch_a_sketch{
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-device-width: 650px) and (max-device-height: 1000px) {

    #main_div{
        flex-direction: column;
    }

    #main_logo{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: auto;
    }

    #etch_a_sketch{
        width: 300px;
        height: 300px;
    }


}

