
body{
    background-color: grey;
}

section {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

button{
    margin: 30px;
}

#etch_a_sketch{
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color:red;
}

.each_square{

}

